# Case 2

In [1]:
# importing pandas as pd
import pandas as pd

## Bilag L

In [6]:
# read an excel file and convert
# into a dataframe object
df = pd.DataFrame(pd.read_excel("/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx"))
 
# show the dataframe
df

                                               Unnamed: 1  Unnamed: 2
0  NaN                                      Figuroversigt         NaN
1  NaN  Ny ret til tidlig pension - værdig tilbagetræk...         NaN
2  NaN                                                NaN         NaN
3  NaN                                                NaN         NaN
4  NaN                                                NaN         NaN
5  NaN         Ny ret til tidlig pension - kort fortalt:          NaN
6  NaN  Figur 1 - Faglærte og ufaglærte har været læng...         NaN
7  NaN  Figur 2 - Knap hver tredje ufaglærte eller fag...         NaN
8  NaN  Figur 3 - Ufaglærte og faglærte mænd har færre...         NaN
9  NaN  Figur 4 - Ufaglærte og faglærte kvinder har fæ...         NaN
10 NaN  Figur 5 - ANTAL med ret til tidlig pension og ...         NaN
11 NaN  Figur 6 - ANTAL med ret til tidlig pension, op...         NaN
12 NaN  Figur 7 - ANDEL med ret til tidlig pension, de...         NaN
13 NaN  Figur 8 - ANTAL med ret til tidlig pension i 2...         NaN
14 NaN  Figur 9 - Vestjylland og Københavns vestegn ha...         NaN
15 NaN                                                NaN         NaN
16 NaN  Ny ret til tidlig pension - detaljerne bag mod...         NaN
17 NaN  Figur 10 - Ydelsesniveauer for udvalgte indkom...         NaN
18 NaN  Figur 11 - ANTAL med ret til tidlig pension og...         NaN
19 NaN  Figur 12 - ANDEL med ret til tidlig pension, o...         NaN
20 NaN  Figur 13 - ANDEL med ret til tidlig pension, d...         NaN
21 NaN  Figur 14 - ANTAL med ret til tidlig pension, o...         NaN
22 NaN  Figur 15 - ANDEL med ret til tidlig pension, o...         NaN
23 NaN  Figur 16 - ANTAL med ret til tidlig pension i ...         NaN
24 NaN  Figur 17 - ANTAL med ret til tidlig pension i ...         NaN
25 NaN  Figur 18 - ANDEL med ret til tidlig pension i ...         NaN
26 NaN  Figur 19 - ANDEL med ret til tidlig pension i ...         NaN
27 NaN  Figur 20 - ANTAL med ret til tidlig pension i ...         NaN
28 NaN  Figur 21 - ANTAL person-år med tidlig pension ...         NaN
29 NaN  Figur 22 - Udvikling i strukturel beskæftigels...         NaN
30 NaN                                                NaN         NaN
31 NaN           Bemærk, at alle værdier er vist afrundet         NaN

In [15]:
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 1', index_col=None)
data_xls.to_csv('csvfile1.csv')

In [16]:
pd.read_csv('csvfile1.csv')

,Unnamed: 0,1.000 personer,Ufaglært,Faglært,KVU,MVU,LVU,Unnamed: 6
0,0,30,1.7,1.4,0.2,0.9,0.6,NaN
1,1,31,1.7,1.6,0.2,1.0,0.8,NaN
2,2,32,1.9,1.8,0.2,1.3,1.1,NaN
3,3,33,2,1.9,0.3,1.5,1.4,NaN
4,4,34,2.2,2.2,0.3,2.0,1.9,NaN
5,5,35,2.5,2.7,0.4,2.9,2.6,NaN
6,6,36,3,3.2,0.5,4.1,3.4,NaN
7,7,37,3.5,4.0,0.7,6.0,3.8,NaN
8,8,38,4.2,5.5,1.1,8.3,3.3,NaN
9,9,39,5.4,7.6,1.5,9.3,2.3,NaN
10,10,40,7.3,11.5,2.0,9.0,1.4,NaN
11,11,41,9.6,18.5,2.6,7.8,1.0,NaN
12,12,42,12.5,26.5,3.0,5.5,0.8,NaN
13,13,43,15.9,31.6,2.7,3.3,0.5,NaN
14,14,44 +,14.5,21.3,1.8,1.2,0.2,NaN
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,NaN,Anm.: År på arbejdsmarkedet er opgjort ved 61-...,NaN,NaN,NaN,NaN,NaN
21,21,NaN,Kilde: Egne beregninger på baggrund af Danmark...,NaN,NaN,NaN,NaN,NaN

## Bilag J

In [7]:
# read an excel file and convert
# into a dataframe object
df = pd.DataFrame(pd.read_excel("/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx"))
 
# show the dataframe
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,Figur 1 - ANTAL med ret til tidlig pension og ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,1.000 personer,2022.0,2023.0,2024.0,2025.0,2026.0,2027.0,2028.0,2029.0,2030.0,2031.0,2032.0,2033.0,2034.0,2035.0
6,NaN,Berettiget til tidlig pension,41.3,49.4,56.6,55.9,52.2,45.0,34.3,24.8,32.0,42.2,39.0,31.8,22.5,28.0
7,NaN,Benytter tidlig pension,24.5,29.4,32.5,29.0,25.1,21.5,16.6,12.8,16.6,21.8,20.4,16.8,12.3,15.5
8,NaN,"Anm.: Antal er opgjort i helårspersoner, som k...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Kilde: Egne beregninger på baggrund af Danmark...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,2022.0,2025.0,2030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Berettiget til tidlig pension,41.3,55.9,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,Benytter tidlig pension,24.5,29.0,16.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN