# Case 2

In [1]:
# importing pandas as pd
from datetime import date
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Bilag L

In [2]:
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 1', index_col=None)
data_xls.to_csv('csvfile1.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 2', index_col=None)
data_xls.to_csv('csvfile2.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 3', index_col=None)
data_xls.to_csv('csvfile3.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 4', index_col=None)
data_xls.to_csv('csvfile4.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 5', index_col=None)
data_xls.to_csv('csvfile5.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 6', index_col=None)
data_xls.to_csv('csvfile6.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 7', index_col=None)
data_xls.to_csv('csvfile7.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 8', index_col=None)
data_xls.to_csv('csvfile8.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 9', index_col=None)
data_xls.to_csv('csvfile9.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 10', index_col=None)
data_xls.to_csv('csvfile10.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 11', index_col=None)
data_xls.to_csv('csvfile11.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 12', index_col=None)
data_xls.to_csv('csvfile12.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 13', index_col=None)
data_xls.to_csv('csvfile13.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 14', index_col=None)
data_xls.to_csv('csvfile14.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 15', index_col=None)
data_xls.to_csv('csvfile15.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 16', index_col=None)
data_xls.to_csv('csvfile16.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 17', index_col=None)
data_xls.to_csv('csvfile17.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 18', index_col=None)
data_xls.to_csv('csvfile18.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 19', index_col=None)
data_xls.to_csv('csvfile19.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 20', index_col=None)
data_xls.to_csv('csvfile20.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 21', index_col=None)
data_xls.to_csv('csvfile21.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 22', index_col=None)
data_xls.to_csv('csvfile22.csv', encoding='utf-8', index=False)

In [9]:
pd.read_csv('csvfile1.csv')

   1.000 personer  Ufaglært  Faglært  KVU  MVU  LVU  Unnamed: 6
0              30       1.7      1.4  0.2  0.9  0.6         NaN
1              31       1.7      1.6  0.2  1.0  0.8         NaN
2              32       1.9      1.8  0.2  1.3  1.1         NaN
3              33       2.0      1.9  0.3  1.5  1.4         NaN
4              34       2.2      2.2  0.3  2.0  1.9         NaN
5              35       2.5      2.7  0.4  2.9  2.6         NaN
6              36       3.0      3.2  0.5  4.1  3.4         NaN
7              37       3.5      4.0  0.7  6.0  3.8         NaN
8              38       4.2      5.5  1.1  8.3  3.3         NaN
9              39       5.4      7.6  1.5  9.3  2.3         NaN
10             40       7.3     11.5  2.0  9.0  1.4         NaN
11             41       9.6     18.5  2.6  7.8  1.0         NaN
12             42      12.5     26.5  3.0  5.5  0.8         NaN
13             43      15.9     31.6  2.7  3.3  0.5         NaN
14           44 +      14.5     21.3  1.8  1.2  0.2         NaN

## Bilag J

In [4]:
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Figur 1', index_col=None)
data_xls.to_csv('csvfileJ1.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Figur 2', index_col=None)
data_xls.to_csv('csvfileJ2.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Figur 3', index_col=None)
data_xls.to_csv('csvfileJ3.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Figur 4', index_col=None)
data_xls.to_csv('csvfileJ4.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Tabel 1', index_col=None)
data_xls.to_csv('csvfileJ5.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Tabel 2', index_col=None)
data_xls.to_csv('csvfileJ6.csv', encoding='utf-8', index=False)

In [5]:
pd.read_csv('csvfileJ1.csv')

,1.000 personer,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
0,Berettiget til tidlig pension,41.3,49.4,56.6,55.9,52.2,45.0,34.3,24.8,32.0,42.2,39.0,31.8,22.5,28.0
1,Benytter tidlig pension,24.5,29.4,32.5,29.0,25.1,21.5,16.6,12.8,16.6,21.8,20.4,16.8,12.3,15.5

## Hvor mange ansøgninger skal ATP forvente at behandle?

#### Hvor mange ansøgere har automatisk fuld anciennitet?

Alle som er berretiget til 3 års tidligere pension

In [14]:
df7 = pd.read_csv('csvfile7.csv')

335900*0.088

29559.199999999997

#### Hvor mange ansøgere kræver manuel håndtering?

Som udgangspunkt alle som ikke har arbejdet i 44 år når de søger

In [20]:
Etaar = 335900*0.128
Toaar = 335900*0.122

print(Etaar+Toaar)

83975.0

Det er ikke alt registerdata som har været tilgængelige i løbet af den relevante gruppes liv, hvorfor også ansøgere der ikke har nok anciennitet til nogle år som udgangspunkt, kan potentielt opnå det gennem supplerende dokumentation.
Supplerende information om periode i arbejdsløshed (først dokumenteret med arbejdsløshedsdagpenge fra 1985), barsel og sygeforløb (sygedagpenge og barselsdagpenge først dokumenteret fra 1993) og  beskæftigelse i udlandet.

#### Hvor mange ansøgere, der kræver manuel behandling, indsender supplerende dokumentation (jf. punkt 2bi.i i procesbeskrivelsen)

Anvend csvfile1?

Tag svaret fra en af de ovenstående, og gang det med 0,5? Eller argumenter for, størrelsen af dem som indsender supplerende dokumentation.

## Hvor lang sagsbehandlingstid estimeres til hhv. fuldt automatiserede sager og manuelle sager?

#### Hvilke informationer skal behandles ifm. en typisk ansøgning?

csvfile1 - tid på arbejdsmarkedet
- Hovedinformationen ift. en typisk ansøgning. Hovedkriteriet i at vurdere om man har *ret* til TP.
- Perioder med arbejdsløshedspenge eller sygedagpenge indgår også i opgørelse. Lønnet praktik tæller også med.

csvfile2 - Begrænset i arbejde pga. smerte
- Knap hver tredje ufaglært eller faglært er begrænset pga. smerter.

csvfile3 og csvfile4 - resterende levetid for mænd og kvinder
- Argumentet for TP starmer i bund og grund fra den diskrepenans der eksisterer mellem folk der har startet tidligere på arbejdsmarkedet (og ofte har hårdere fysisk arbejde) og dem som starter senere i deres levealder.

csvfile8 - ret til TP fordelt på uddannelse
- Forventet at 80% af dem som søger ret til TP er ufaglærte eller faglærte

csvfile16 - ret til TP fordelt på arbejdsindkomst
- Dem som tjener under 300k til og med 500 om året udgør stort set alle de får retten.

csvfile18 - ret itl TP fordelt på jobfunktion/a-kasse

csvfile (kvinde vs mænd?)
- Både mødre og fædre får et års anciennitet per barn Det vil tilgodese kvinder, da de typisk har færre år på arbejdsmarkedet År med barsel tæller derfor med og bidrager til, at man opnår ret til tidlig pension Men man kan højest få et års anciennitet per kalenderår
- For eksempel har vi valgt, at deltidsarbejde sidestilles med fuldtidsarbejde Det har vi gjort af hensyn til de mange kvinder, som er på deltid ude på arbejdspladsen, men til gengæld tager det største slæb hjemme i familien

#### Hvor i processen forventes et tidsforbrug ifm. behandling af en typisk ansøgning? (jf. procesbeskrivelsen)?. I bedes forklare baggrunden for tidsforbruget.

Tidsforbrug forvnetes i sutationen hvor perosnen ikke har automatisk fuld anciennitet, og derfor kræver yderligere bearbejdelse af dokumentation