# Case 2

In [27]:
# importing pandas as pd
import pandas as pd

## Bilag L

In [37]:
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 1', index_col=None)
data_xls.to_csv('csvfile1.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 2', index_col=None)
data_xls.to_csv('csvfile2.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 3', index_col=None)
data_xls.to_csv('csvfile3.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 4', index_col=None)
data_xls.to_csv('csvfile4.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 5', index_col=None)
data_xls.to_csv('csvfile5.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 6', index_col=None)
data_xls.to_csv('csvfile6.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 7', index_col=None)
data_xls.to_csv('csvfile7.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 8', index_col=None)
data_xls.to_csv('csvfile8.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 9', index_col=None)
data_xls.to_csv('csvfile9.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 10', index_col=None)
data_xls.to_csv('csvfile10.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 11', index_col=None)
data_xls.to_csv('csvfile11.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 12', index_col=None)
data_xls.to_csv('csvfile12.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 13', index_col=None)
data_xls.to_csv('csvfile13.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 14', index_col=None)
data_xls.to_csv('csvfile14.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 15', index_col=None)
data_xls.to_csv('csvfile15.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 16', index_col=None)
data_xls.to_csv('csvfile16.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 17', index_col=None)
data_xls.to_csv('csvfile17.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 18', index_col=None)
data_xls.to_csv('csvfile18.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 19', index_col=None)
data_xls.to_csv('csvfile19.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 20', index_col=None)
data_xls.to_csv('csvfile20.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 21', index_col=None)
data_xls.to_csv('csvfile21.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagL.xlsx', 'Figur 22', index_col=None)
data_xls.to_csv('csvfile22.csv', encoding='utf-8', index=False)

In [42]:
pd.read_csv('csvfile19.csv')

                                     Pct.  Andel berettigede
0             Funktionærer og\nServicefag                0.0
1                           Magistre (MA)                1.5
2                    Akademikernes akasse                4.3
3                          Lærere (DLF-A)                5.0
4   Journalistik,\nKommunikation og Sprog               11.5
5   Børne- og\nUngdomspædagoger\n(BUPL-A)               13.8
6                         ikke-forsikrede               14.5
7                   Socialpædagoger (SLA)               20.3
8                           Økonomer (CA)               24.3
9                     Selvstændige (DANA)               29.8
10   Selvstændige\nErhvervsdrivende (ASE)               36.3
11                              Teknikere               39.5
12                      Kristelig a-kasse               42.7
13  Danske\nSundhedsorganisationer\n(DSA)               44.5
14                   Fag og Arbejde (FOA)               46.5
15                Det Faglige Hus a-kasse               46.7
16                               El-faget               49.8
17                   Byggefagenes a-kasse               50.8
18            Faglig Fælles a-kasse\n(3F)               55.6
19                            Min a-kasse               56.0
20  Funktionærer og\nTjenestemænd (FTF-A)               56.2
21                                 Ledere               57.2
22   Handels- og\nKontorfunktionærer (HK)               57.9
23                Frie Funktionærer (FFA)               58.2
24                         Metalarbejdere               62.9
25                Fødevareforbundet (NNF)               64.1

## Bilag J

In [38]:
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Figur 1', index_col=None)
data_xls.to_csv('csvfileJ1.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Figur 2', index_col=None)
data_xls.to_csv('csvfileJ2.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Figur 3', index_col=None)
data_xls.to_csv('csvfileJ3.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Figur 4', index_col=None)
data_xls.to_csv('csvfileJ4.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Tabel 1', index_col=None)
data_xls.to_csv('csvfileJ5.csv', encoding='utf-8', index=False)
data_xls = pd.read_excel('/Users/madsrasmussen/Desktop/case/bilag/BilagJ.xlsx', 'Tabel 2', index_col=None)
data_xls.to_csv('csvfileJ6.csv', encoding='utf-8', index=False)

In [35]:
pd.read_csv('csvfileJ1.csv')

,1.000 personer,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
0,Berettiget til tidlig pension,41.3,49.4,56.6,55.9,52.2,45.0,34.3,24.8,32.0,42.2,39.0,31.8,22.5,28.0
1,Benytter tidlig pension,24.5,29.4,32.5,29.0,25.1,21.5,16.6,12.8,16.6,21.8,20.4,16.8,12.3,15.5